@model Scopo.HMS.Models.Patient

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />


<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="exampleModal" onload="myfunction()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-toggle="modal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Patient Details</h5>
                <a href="/Patients/Index" class="btn btn-secondary btn-close"></a>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Age" class="control-label"></label>
                                <input asp-for="Age" class="form-control" />
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gender" class="control-label"></label>
                                <input asp-for="Gender" class="form-control" />
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Mobile" class="control-label"></label>
                                <input asp-for="Mobile" class="form-control" />
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EmergencyContact" class="control-label">Emergency Contact</label>
                                <input asp-for="EmergencyContact" class="form-control" />
                                <span asp-validation-for="EmergencyContact" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="modal-footer">
                                <a href="/Patients/Index" class="btn btn-secondary">Close</a>
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>

                        </form>
                    </div>
                </div>





            </div>
            
        </div>
    </div>
</div>

































<button style="display:none" id="linkid" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo">Open modal</button>
<script>
    window.onload = function () {
        document.getElementById("linkid").click();
    };
    var exampleModal = document.getElementById('exampleModal')
    console.log("Onload");

    function myfunction() {
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')

        modalTitle.textContent = 'New message to ' + recipient
        modalBodyInput.value = recipient
    }

    
</script>






<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
