@model Scopo.HMS.Models.Medicine

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medicine</h4>
<hr />



<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="exampleModal" onload="myfunction()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-toggle="modal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Medicine Details</h5>
                <a href="/Medicines/Index" class="btn btn-secondary btn-close"></a>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Unit" class="control-label"></label>
                                <select asp-for="Unit" class="form-control">
                                    <option value="">Select unit</option>
                                    <option value="pcs">Per Piece</option>
                                    <option value="pack">Per Pack</option>
                                    <option value="box">Per Box</option>
                                </select>
                                <span asp-validation-for="Unit" class="text-danger"></span>
                            </div>
                            <div class="modal-footer">
                                <a href="/Medicines/Index" class="btn btn-secondary">Close</a>
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>






            </div>

        </div>
    </div>
</div>


<button style="display:none" id="linkid" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo">Open modal</button>
<script>
    window.onload = function () {
        document.getElementById("linkid").click();
    };
    var exampleModal = document.getElementById('exampleModal')
    console.log("Onload");

    function myfunction() {
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')

        modalTitle.textContent = 'New message to ' + recipient
        modalBodyInput.value = recipient
    }


</script>


























<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
