@model Scopo.HMS.Models.Doctor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Doctor</h4>
<hr />



<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="exampleModal" onload="myfunction()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-toggle="modal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Patient Details</h5>
                <a href="/Patients/Index" class="btn btn-secondary btn-close"></a>
            </div>
            <div class="modal-body">



                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Qualification" class="control-label"></label>
                                <input asp-for="Qualification" class="form-control" />
                                <span asp-validation-for="Qualification" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MinVisitFee" class="control-label">Visit Fee</label>
                                <input asp-for="MinVisitFee" class="form-control" />
                                <span asp-validation-for="MinVisitFee" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OutdoorFee" class="control-label">OPD Fee</label>
                                <input asp-for="OutdoorFee" class="form-control" />
                                <span asp-validation-for="OutdoorFee" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Specialization" class="control-label"></label>
                                <input asp-for="Specialization" class="form-control" />
                                <span asp-validation-for="Specialization" class="text-danger"></span>
                            </div>
                            <div class="modal-footer">
                                <a href="/Doctors/Index" class="btn btn-secondary">Close</a>
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<button style="display:none" id="linkid" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo">Open modal</button>
<script>
    window.onload = function () {
        document.getElementById("linkid").click();
    };
    var exampleModal = document.getElementById('exampleModal')
    console.log("Onload");

    function myfunction() {
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')

        modalTitle.textContent = 'New message to ' + recipient
        modalBodyInput.value = recipient
    }


</script>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
